apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnetcorewebapi-deployment
  labels:
    environment: dev
    app: dotnetcorewebapi
spec:
  replicas: 3
  template:
    metadata:
      name: dotnetcorewebapi
      labels:
        app: dotnetcorewebapi
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
      - name: dotnetcorewebapi
        image: docker.io/hishobhit76/dotnetcorewebapi-linux:v1.0
        resources:
          limits:
            cpu: 1
            memory: 800M
        ports:
          - containerPort: 80
  selector:
    matchLabels:
      app: dotnetcorewebapi
---
apiVersion: v1
kind: Service
metadata:
  name: dotnetcorewebapi-service
spec:
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 80
  selector:
    app: dotnetcorewebapi
